<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="opcaoAluno" autocomplete="off" checked> Aluno
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="opcaoProfessor" autocomplete="off"> Professor
    </label>
</div>
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="nome" class="form-control" id="nome" placeholder="Nome do Aluno">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Formação</label>
        <select class="form-control form-control-sm">
            <option>Sem graduação</option>
            <option>Graduando</option>
            <option>Graduado</option>
            <option>Pós-graduando</option>
            <option>Pós-graduado</option>
            <option>Doutor/Mestrado</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Idade</label>
        <input type="nome" class="form-control" id="nome" placeholder="Idade">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="nome" class="form-control" id="nome" placeholder="E-mail">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>